<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart Receipt Assistant</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
    />
    <!-- 
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    />
    -->
</head>

<body>

<div class="container">

    <h1>Smart Receipt Assistant</h1>

    <p>
        AI-powered receipt extraction and management system.
    </p>

    <a href="/upload-page">
        <button>Upload Receipt</button>
    </a>

    <a href="/receipts">
        <button>View Receipts</button>
    </a>

</div>
<script>
    
</script>
</body>
</html>
